<a href="https://colab.research.google.com/github/Yuhang18/Deliverable_1_HelloWorld/blob/master/Deliverable_(6).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Step(1): Importing Libraries
import pandas as pd
import numpy as np
import seaborn as sns

In [ ]:
# Step(2): Loading iris dataset
iris = sns.load_dataset("iris")
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
# Step(3): Dropping the "specoes" column
iris = iris.drop(labels = "species", axis = 1)
iris.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [ ]:
# Step(4) Adding columns
iris["sepal_sum"] = iris["sepal_length"] + iris["sepal_width"]
iris["petal_sum"] = iris["petal_length"] + iris["petal_width"]
iris.head()

   sepal_length  sepal_width  petal_length  petal_width  sepal_sum  petal_sum
0           5.1          3.5           1.4          0.2        8.6        1.6
1           4.9          3.0           1.4          0.2        7.9        1.6
2           4.7          3.2           1.3          0.2        7.9        1.5
3           4.6          3.1           1.5          0.2        7.7        1.7
4           5.0          3.6           1.4          0.2        8.6        1.6

In [ ]:
# Step 5
summary_df = pd.DataFrame({
    "mean": iris.mean(),
    "std": iris.std(),
    "min": iris.min(),
    "max": iris.max()})

summary_df

                  mean       std  min   max
sepal_length  5.843333  0.828066  4.3   7.9
sepal_width   3.057333  0.435866  2.0   4.4
petal_length  3.758000  1.765298  1.0   6.9
petal_width   1.199333  0.762238  0.1   2.5
sepal_sum     8.900667  0.889272  6.8  11.7
petal_sum     4.957333  2.507689  1.2   9.2